.ofrbtn_cont{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inr_sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.model2{
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: #ecd0d0;
}

.model2_inner{
    width: 30%;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    padding: 15px;
}