.main{
    display: flex;
    justify-self: center;
}
.container{
    width: 300px;
    margin: 30px auto;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.form > input{
    margin-top: 5px;
    padding: 10px;
    font-size: 20px;
}

button{
    width: 150px;
    height: 40px;
    margin: auto;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: lightblue;
    cursor: pointer;
}

.error{
    color: red;
}
  
.error-border{
    border: 2px solid red;
}

label{
    font-weight: bold;
}